#fullscreen-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    display: none; /* Inicialmente oculto */
}

#header, #main, #footer {
    position: relative;
    z-index: 2;
    transition: opacity 2s ease-in-out;
}

#header.hidden, #main.hidden, #footer.hidden {
    opacity: 0;
}