.splash {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background: var(--cor-b1);
    z-index: 10000;
    color: var(--cor-w0);
    text-align: center;
    line-height:90vh;
}
  
.splash.display-none {
    position: fixed;
    opacity: 0;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background: var(--cor-b1);
    z-index: -100;
    color:  var(--cor-w0);
    text-align: center;
    line-height:90vh;
    transition: 0.2s;
}

/* key frame */
@keyframes fadeIn {
    to {
      opacity:1;
    }
  }
  
  .fade-In {
    opacity:0;
    animation: fadeIn 1s ease-in forwards;
}

@media (max-width:442px) {
  .splash{
    text-align: left;
  }
}
  
  