section.portifolio {
    padding: 80px 4%;
    display: block;
    height: auto;
}

section.portifolio .flex {
    justify-content: space-around;
}

section.portifolio .interface h2 {
    padding: 40px;
}

.carrosel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}
.img-port {
    flex: 0 0 auto;
    width: 360px;
    height: 460px;
    margin-right: 20px;
    scroll-snap-align: start;
    background-image:   url("../../imagens/portifolio/secret-number.png")  ;/**/
    border-radius: 40px;
    position: relative;
    background-size: cover;
    background-position: center;
}


.img-port-2 {
    background-image:  url("../../imagens/portifolio/freeway.png")  ;/**/
}


.img-port-3 {
    background-image:  url("../../imagens/portifolio/robotron-200.png")  ;/**/
}


.img-port-4 {
    background-image:  url("../../imagens/portifolio/crud-java-swing.png")  ;
}

.img-port-5{
    background-image:  url("../../imagens/portifolio/projeto-circuito-logico.jpg")  ;

}

.img-port-6{
    background-image:  url("../../imagens/portifolio/projeto-ada.jpg")  ;

}


.img-port-7{
    background-image:  url("../../imagens/portifolio/braco-robotico.jpg")  ;

}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-b2);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-w0);
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: 0.3s;
}

@media (max-width:652px) {
    .carrosel {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}

@media (max-width:442px) {
    section.portifolio {
        margin-top: 400px;
    }
}